nav {
  display: flex;
  width: max-content;
  max-width: 100%;
  font-size: var(--texto-md);

  @media print {
    display: none;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 0 var(--esp-2);
  margin: 0;
  border-left: 4px solid var(--cor-acao);
}

li {
  display: flex;
  gap: var(--esp-1);

  &::after {
    content: '\2771';
    color: var(--cor-acao);
  }

  &:last-child::after {
    content: none;
  }
}

a {
  text-decoration: none;
  color: var(--cor-texto-suave);
  text-transform: uppercase;
  font-variant: small-caps;

  &:hover {
    text-decoration: underline;
  }
}
