:host {
  position: relative;
}

.kebab {
  border: none;
  background: none;
  padding: 0;
  color: #00786d;
  margin-bottom: -5px;
  line-height: 0;

  &:hover {
    cursor: pointer;
    color: #03a696;
    background-color: #e1e1e1;
    border-radius: 50%;
  }

  &:focus-visible {
    outline: 2px solid #00786d;
    outline-offset: 2px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  right: 4rem;
  visibility: hidden;
  background-color: #fff;
  padding: 0.5rem;
  gap: 1rem;
  width: max-content;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  z-index: 10;

  button {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    gap: 0.5rem;
    color: #555;
    border: none;
    background: none;
    font: inherit;
    text-align: left;

    &:hover {
      background-color: #ddd;
      cursor: pointer;
      color: #000;
    }

    &:focus-visible {
      outline: 2px solid #00786d;
      outline-offset: -2px;
    }
  }
}

.menu--open {
  visibility: visible;
}

.menu--overflowed {
  top: auto;
  bottom: 0.5rem;
}
