@font-face {
  font-family: "Akshar-Bold";
  src: local("Akshar-Bold"),
    url(./assests/fonts/Akshar/static/Akshar-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Akshar-Light";
  src: local("Akshar-Light"),
    url(./assests/fonts/Akshar/static/Akshar-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Akshar-Medium";
  src: local("Akshar-Medium"),
    url(./assests/fonts/Akshar/static/Akshar-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Akshar-Regular";
  src: local("Akshar-Regular"),
    url(./assests/fonts/Akshar/static/Akshar-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Akshar-SemiBold";
  src: local("Akshar-SemiBold"),
    url(./assests/fonts/Akshar/static/Akshar-SemiBold.ttf) format("truetype");
}

body {
  background-color: #03a696;
  margin: 0;
  display: flex;
  /* font-family: "Akshar", sans-serif; */
  overflow: hidden;
}
.app {
  display: flex;
  width: 100%;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c5c5c33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d;
}
